@use "variables" as *;

.nusa-form-control[type="file"] {
  overflow: hidden;

  &:not(:disabled):not([readonly]) {
    cursor: pointer;
  }

  &::file-selector-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    margin-inline-end: .75rem;
    color: $base-content;
    background-color: $base-200;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: darken($base-200, 5%);
  }
}