@use "variables" as *;

.nusa-form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $base-content;
  background-color: $base-100;
  background-clip: padding-box;
  border: 1px solid $border-color;
  appearance: none;
  border-radius: $border-radius;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
    color: $base-content;
    background-color: $base-100;
    border-color: lighten($primary, 25%);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
  }

  &::placeholder {
    color: rgba($base-content, 0.5);
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    background-color: $base-200;
    opacity: 1;
  }
}