@use "variables" as *;
@use "mixins" as *;

.nusa-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #dee2e6;
}

.nusa-navbar > .nusa-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

// Navbar Toggler
.nusa-navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    color: rgba($dark, 0.55);
    border-color: rgba($dark, 0.1);
    cursor: pointer;

    @include media-up(lg) {
        display: none;
    }

    &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
    }
}

.nusa-navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.nusa-navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
    color: $dark;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.nusa-navbar-brand-img {
    display: inline-block;
    vertical-align: middle;
    max-height: 30px;
    width: auto;
    margin-right: .5rem;
}

.nusa-collapse {
    &:not(.show) {
        display: none;
    }
}

.nusa-navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    width: 100%;

    @include media-up(lg) {
        display: flex !important;
        flex-basis: auto;
        width: auto;
    }
}

.nusa-navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    margin-top: 1rem;

    @include media-up(lg) {
        flex-direction: row;
        margin-left: auto;
        width: auto;
        margin-top: 0;
    }
}

.nusa-nav-item {
    // No specific styles needed for the item itself yet
}

.nusa-nav-link {
    display: block;
    padding: .5rem .5rem;
    text-decoration: none;
    color: $dark;
    transition: color .15s ease-in-out;

    @include media-up(lg) {
        margin-left: 1rem;
    }
}

.nusa-nav-link:hover,
.nusa-nav-link:focus {
    color: $primary;
}