@use "variables" as *;

// Feedback
.valid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: .875rem;
  color: $success;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: .875rem;
  color: $error;
}

// Valid State
.nusa-form-control.is-valid {
  border-color: $success;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2368D592' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);

  &:focus {
    border-color: $success;
    box-shadow: 0 0 0 .25rem rgba($success, .25);
  }
}

// Invalid State
.nusa-form-control.is-invalid {
  border-color: $error;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23EA5B7C'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23EA5B7C' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);

  &:focus {
    border-color: $error;
    box-shadow: 0 0 0 .25rem rgba($error, .25);
  }
}

// Display feedback
.is-valid ~ .valid-feedback,
.is-invalid ~ .invalid-feedback {
  display: block;
}

// Checkbox/Radio validation
.nusa-form-check-input.is-valid {
  border-color: $success;

  &:checked {
    background-color: $success;
  }

  &:focus {
    box-shadow: 0 0 0 .25rem rgba($success, .25);
  }

  ~ .nusa-form-check-label {
    color: $success;
  }
}

.nusa-form-check-input.is-invalid {
  border-color: $error;

  &:checked {
    background-color: $error;
  }

  &:focus {
    box-shadow: 0 0 0 .25rem rgba($error, .25);
  }

  ~ .nusa-form-check-label {
    color: $error;
  }
}