// 1. Import Core files
@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;
@use "reboot";

// 2. Import Components
@use "buttons";
@use "forms";
@use "input-group";
@use "floating-labels";
@use "range";
@use "checks";
@use "navbar";
@use "alert";
@use "card";
@use "badge";
@use "dropdown";
@use "breadcrumb";
@use "accordion";
@use "pagination";
@use "modal";
@use "progress";
@use "spinner";
@use "offcanvas";
@use "toast";
@use "list-group";
@use "placeholder";
@use "carousel";
@use "tooltip";
@use "grid";
@use "utilities";

// 3. Utility Classes (Legacy)
.display-1 { font-size: 3.5rem; font-weight: 300; line-height: 1.2; }
.lead { font-size: 1.25rem; font-weight: 300; }

.hr { margin: 1rem 0; color: inherit; background-color: currentColor; border: 0; opacity: .25; }
.hr:not([size]) { height: 1px; }

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}