@use "sass:color";
@use "../abstracts/variables" as *;

.nusa-alert,
.ns-alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: $border-radius;
}

@each $state, $value in $theme-colors {
  .nusa-alert-#{$state},
  .ns-alert-#{$state} {
    background-color: color.mix(#fff, $value, 90%);
    border-color: color.mix(#fff, $value, 85%);
    color: color.scale($value, $lightness: -50%);

    @if $state == "light" {
      background-color: #fefefe;
      border-color: #fdfdfd;
      color: #636464;
    } @else if $state == "dark" {
      background-color: #d3d3d4;
      border-color: #bcbcbd;
      color: #141414;
    }
  }
}