@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;

.nusa-badge,
.ns-badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $border-radius;
}

// Generate color variations for badges
@each $color, $value in $theme-colors {
  .nusa-badge-#{$color},
  .ns-badge-#{$color} {
    $text-color: #fff;
    @if $color == "light" {
      $text-color: $dark;
    }
    color: $text-color;
    background-color: $value;
  }
}