@use "sass:color";
@use "../abstracts/variables" as *;

.nusa-breadcrumb,
.ns-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: $base-200;
  border-radius: $border-radius;
}

.nusa-breadcrumb-item,
.ns-breadcrumb-item {
  // Separator (divider)
  + .nusa-breadcrumb-item,
  + .ns-breadcrumb-item {
    padding-left: .5rem;

    &::before {
      float: left;
      padding-right: .5rem;
      color: $base-content;
      content: "/";
      opacity: 0.5;
    }
  }

  &.active {
    color: $base-content;
    opacity: 0.7;
  }

  a {
    text-decoration: none;
    color: $primary;
    transition: color .15s ease-in-out;

    &:hover {
      color: color.adjust($primary, $lightness: -15%);
      text-decoration: underline;
    }
  }
}