@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;

.nusa-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: $border-radius;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, transform .1s ease-in-out;

    &:active,
    &.active {
        transform: scale(0.95);
    }
}

@each $color, $value in $theme-colors {
  // Solid Buttons
  .nusa-btn-#{$color} {
    // Update text color: Gunakan putih untuk semua kecuali light
    $text-color: #fff;
    @if $color == "light" {
        $text-color: $dark;
    }
    color: $text-color;
    background-color: $value;
    border-color: $value;

    &:hover {
      color: $text-color;
      filter: brightness(90%);
    }
  }

  // Outline Buttons
  .nusa-btn-outline-#{$color} {
    $text-color: if(map.has-key($theme-colors-content, $color), map.get($theme-colors-content, $color), color-contrast($value));
    color: $value;
    border-color: $value;
    background-color: transparent;

    &:hover {
      color: $text-color;
      background-color: $value;
      border-color: $value;
    }
  }
}

// Pill / Capsule Buttons
.nusa-btn-pill {
  border-radius: $border-radius-pill;
}

// Circle Buttons (Icon only)
.nusa-btn-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

// Button Sizes
.nusa-btn-sm {
  padding: .2rem .4rem;
  font-size: .75rem;
  border-radius: .2rem;
}

.nusa-btn-lg {
  padding: .4rem .8rem;
  font-size: 1.1rem;
  border-radius: .3rem;
}

.nusa-btn-xl {
  padding: .6rem 1rem;
  font-size: 1.25rem;
  border-radius: .4rem;
}

.nusa-btn-xxl {
  padding: .8rem 1.2rem;
  font-size: 1.5rem;
  border-radius: .5rem;
}

// Block Buttons
.nusa-btn-block {
  display: block;
  width: 100%;
}