@use "../abstracts/variables" as *;

.nusa-offcanvas,
.ns-offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: $base-100;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
  box-shadow: $box-shadow-lg;
}

.nusa-offcanvas-start,
.ns-offcanvas-start {
  top: 0;
  left: 0;
  width: 400px;
  border-right: 1px solid $border-color;
  transform: translateX(-100%);
}

.nusa-offcanvas-end,
.ns-offcanvas-end {
  top: 0;
  right: 0;
  width: 400px;
  border-left: 1px solid $border-color;
  transform: translateX(100%);
}

.nusa-offcanvas.show,
.ns-offcanvas.show {
  transform: none;
  visibility: visible;
}

.nusa-offcanvas-header,
.ns-offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.nusa-offcanvas-title,
.ns-offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 500;
}

.nusa-offcanvas-body,
.ns-offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.nusa-offcanvas-backdrop,
.ns-offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity .15s linear;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}