@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Responsive Display Headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

@each $level, $size in $display-font-sizes {
  .display-#{$level} {
    font-size: $size * 0.6 !important; // Ukuran Mobile
    font-weight: 300;
    line-height: 1.2;

    @include media-up(lg) {
      font-size: $size !important; // Ukuran Desktop
    }
  }
}