// Border Radius Utilities
@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

$border-radius-sizes: (
  "xs": 0.125rem, // 2px
  "sm": 0.25rem,  // 4px
  "lg": 0.5rem,   // 8px
  "xl": 0.75rem,  // 12px
  "xxl": 1rem     // 16px
) !default;

$radii: map.merge($border-radius-sizes, ("DEFAULT": $border-radius));

@each $breakpoint in map.keys($grid-breakpoints) {
  @include media-up($breakpoint) {
    $min: map.get($grid-breakpoints, $breakpoint);
    $infix: if($min == 0, "", "-#{$breakpoint}");

    @each $size, $radius in $radii {
      $size-suffix: if($size == "DEFAULT", "", "-#{$size}");

      .rounded#{$infix}#{$size-suffix} {
        border-radius: $radius !important;
      }

      .rounded#{$infix}-top#{$size-suffix} {
        border-top-left-radius: $radius !important;
        border-top-right-radius: $radius !important;
      }

      .rounded#{$infix}-end#{$size-suffix} {
        border-top-right-radius: $radius !important;
        border-bottom-right-radius: $radius !important;
      }

      .rounded#{$infix}-bottom#{$size-suffix} {
        border-bottom-right-radius: $radius !important;
        border-bottom-left-radius: $radius !important;
      }

      .rounded#{$infix}-start#{$size-suffix} {
        border-top-left-radius: $radius !important;
        border-bottom-left-radius: $radius !important;
      }
    }
  }
}