@use "sass:map";
@use "sass:math";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Container
.nusa-container,
.nusa-container-fluid,
.ns-container,
.ns-container-fluid {
  width: 100%;
  padding-right: ($grid-gutter-width * 0.5);
  padding-left: ($grid-gutter-width * 0.5);
  margin-right: auto;
  margin-left: auto;
}

// Responsive Container Widths
@each $breakpoint, $width in $container-max-widths {
  @include media-up($breakpoint) {
    .nusa-container,
    .ns-container {
      max-width: $width;
    }
  }
}

// Row
.nusa-row,
.ns-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: ($grid-gutter-width * -0.5);
  margin-left: ($grid-gutter-width * -0.5);
  
  > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: ($grid-gutter-width * 0.5);
    padding-left: ($grid-gutter-width * 0.5);
  }
}

// Columns Generator
@each $breakpoint in map.keys($grid-breakpoints) {
  $infix: if($breakpoint == "xs", "", "-#{$breakpoint}");

  @include media-up($breakpoint) {
    @for $i from 1 through 12 {
      .nusa-col#{$infix}-#{$i},
      .ns-col#{$infix}-#{$i} {
        flex: 0 0 auto;
        width: percentage(math.div($i, 12));
      }
    }
  }
}