// Checkout specific styles

.nusa-checkout-cart {
    @media (min-width: 992px) {
        position: sticky;
        top: 2rem;
    }
}

// Optional: Custom spacing for payment methods
.nusa-payment-methods .nusa-form-check {
    margin-bottom: 0.5rem;
}