// Hero Example Styles

.hero-header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.hero-image-overflow {
  max-height: 30vh;
  overflow: hidden;
  
  @media (min-width: 768px) {
    max-height: 50vh;
  }
  
  img {
    object-fit: cover;
    object-position: top;
    width: 100%;
  }
}