.nusa-masonry {
  column-count: 1;
  column-gap: 1.5rem;

  @media (min-width: 576px) {
    column-count: 2;
  }

  @media (min-width: 992px) {
    column-count: 3;
  }

  .nusa-card {
    display: inline-block; // Penting agar kartu tidak terpotong antar kolom
    width: 100%;
    margin-bottom: 1.5rem;
  }
}